.settings__btn {
	font-family: Roboto;
	color:  #f1f1f5;
	font-size: 18px; 
	text-align: left;
}

.settings__download {
	width: 97px;
	height: 40px;
	border-radius: 3px;
	border-width: 1px;
	border-color:  #e3736c;
	border-style: solid;
	background: -webkit-linear-gradient(90deg, #f97e76 0%, #e4746c 94%, #e3736c 100%);
	background: -moz-linear-gradient(90deg, #f97e76 0%, #e4746c 94%, #e3736c 100%);
	background: -o-linear-gradient(90deg, #f97e76 0%, #e4746c 94%, #e3736c 100%);
	background: -ms-linear-gradient(90deg, #f97e76 0%, #e4746c 94%, #e3736c 100%);
	background: linear-gradient(0deg, #f97e76 0%, #e4746c 94%, #e3736c 100%);
	
}

.settings__reset {
	width: 97px;
	height: 40px;
	border-radius: 3px;
	border-width: 1px;
	border-color:  #a6b2bb;
	border-style: solid;
	background: -webkit-linear-gradient(90deg, #c1cfd9 0%, #a0acb5 5%, #9eaab3 100%);
	background: -moz-linear-gradient(90deg, #c1cfd9 0%, #a0acb5 5%, #9eaab3 100%);
	background: -o-linear-gradient(90deg, #c1cfd9 0%, #a0acb5 5%, #9eaab3 100%);
	background: -ms-linear-gradient(90deg, #c1cfd9 0%, #a0acb5 5%, #9eaab3 100%);
	background: linear-gradient(0deg, #c1cfd9 0%, #a0acb5 5%, #9eaab3 100%);
	
}