.upload {
	padding: 0 20px;
	border-bottom: 1px solid rgba(249, 126, 118, 0.4);
}

.upload__title {
	display: block;
	font-family: Roboto;
	color:  #2e3641;
	font-size: 14px; /* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	text-align: left;
	margin-bottom: 20px; 
}

.upload__wrapper {
	display: block;
	border-radius: 3px;
	border-width: 1px;
	border-color:  #9eb2c0;
	border-style: solid;
	width: 192px;
	height: 18px;

	font-family: 'Segoe UI';
	font-size: 12px;
	font-weight: 300;
	text-align: left;
	padding: 5px 3px;
	margin-top: 5px; 

}