.result__wrap {
    max-width: 650px;
    max-height: 534px;
    position: relative;
    overflow: hidden;

    .result__img {
        width: 100%;
    }
}

.result__wrap_upload-water{
    position: relative;
    width: 100%;
    height: 100%;

    .result__wrap-water {
        position: absolute;
        max-width: 300px;
        max-height: 300px;
        top: 0;
        left: 0;

        .result__img-water {
            width: 100%;
        }
    }
}
