aside {
	position: absolute;
	left: 0;
	top: 100px;
}

.language, .socials {
	padding-left: 0;
	list-style: none;
}

.language__link {
	font-family: 'SegoeUI';
	color:  #8e9298;	
	font-size: 20px;
	font-weight: 300;
	text-decoration: none;
	display: block;
	min-width: 43px;
	padding: 3px 0 ;
	text-align: center;
	background-color:  rgba(241, 241, 245, 0.7);
	margin-bottom: 1px;
	
	&:hover { color:  #444a53; }
}

.socials__link{
	display: block;
	width: 43px;
	height: 41px;
	background:  url('../img/sprite.png') no-repeat ;
	background-color:  rgba(255, 255, 255, 0.6);
}


.socials__link_fb {
	background-position: -138px -7px;
	&:hover { background-position: -76px -7px;}
}

.socials__link_tw {
	background-position: -143px -105px;
	&:hover { background-position: -81px -105px;}
}

.socials__link_vk {
	background-position: -146px -145px;
	&:hover { background-position: -84px -145px; }
}

.socials__link_lk {
	background-position: -142px -58px;
	&:hover { background-position: -80px -58px; }
}