<!DOCTYPE html>
html(lang="ru-Ru")

	include includes/head.jade

	body
		.wrapper
			main.main-content
				.result
					h1.result__title Генератор водяных знаков
					.result__window
						.result__wrap
							.result__wrap-water
				.setting-block
					h2.setting-block__title Настройки
					form(action="actions/img.php" encode="multipart/form-data").settings
						
						.settings__wrapper
							.settings__upload
								label.settings__title Исходное изображение
									label(for="upload-img" ).upload__wrapper
										span Image.jpg
										input.fileupload(type = 'file' id = 'upload-img' name = 'files[]' size = '30'  data-form-data='{"type": "main-image"}').upload__input.upload__input_image.hide
										input(type='hidden' name='genImg')
								
								label.settings__title Водяной знак
									label(for="upload-water").upload__wrapper.disabled
										span Image.png
										input.fileupload(type = 'file' id = 'upload-water' name = 'files[]' size = '30' data-form-data='{"type": "water-image"}' disabled).upload__input.upload__input_water-image.hide
										input(type='hidden' name='waterImg')
										
						.settings__wrapper
							
							.settings__position.tabs
								.settings__title Положение
								ul.tabs__control
									li.tabs-control__item.single.active
										a(href = '#').tabs-control__link.tabs-control__link_single
											span.hide Одиночный
									li.tabs-control__item.multy
										a(href = '#').tabs-control__link.tabs-control__link_tile
											span.hide Замостить

								ul.tabs__list
									li.tabs__item.active

										.settings__field
									
											.field__row
												input(type = 'radio' name = 'field__part' id = 'left-up'  data-position='left top').hide.positioningBtn
												label(for = 'left-up').field__cell
												input(type = 'radio' name = 'field__part' id = 'middle-up' data-position='center top').hide.positioningBtn
												label(for = 'middle-up').field__cell
												input(type = 'radio' name = 'field__part' id = 'right-up'  data-position='right top').hide.positioningBtn
												label(for = 'right-up').field__cell
											.field__row
												input(type = 'radio' name = 'field__part' id = 'middle-left'  data-position='left center').hide.positioningBtn
												label(for = 'middle-left').field__cell
												input(type = 'radio' name = 'field__part' id = 'middle-middle'  data-position='center center').hide.positioningBtn
												label(for = 'middle-middle').field__cell
												input(type = 'radio' name = 'field__part' id = 'middle-right' data-position='right center').hide.positioningBtn
												label(for = 'middle-right').field__cell
											.field__row
												input(type = 'radio' name = 'field__part' id = 'down-left'  data-position='left bottom').hide.positioningBtn
												label(for = 'down-left').field__cell
												input(type = 'radio' name = 'field__part' id = 'down-middle'  data-position='center bottom').hide.positioningBtn
												label(for = 'down-middle').field__cell
												input(type = 'radio' name = 'field__part' id = 'down-right'  data-position='right bottom').hide.positioningBtn
												label(for = 'down-right').field__cell

										.settings__axis
											.axis__wrapper
												.axis__name X
												input(type = 'text' value = '0' id='control-x' name="axis-x").axis__input
												.axis__control.axis__control-x
													a(href="#").axis__button.axis__button_up.singleBtn
													a(href="#").axis__button.axis__button_down.singleBtn

											.axis__wrapper
												.axis__name Y
												input(type = 'text' value = '0' id='control-y' name="axis-y").axis__input
												.axis__control.axis__control-y
													a(href="#").axis__button.axis__button_up.singleBtn
													a(href="#").axis__button.axis__button_down.singleBtn

									li.tabs__item.tabs__item_tile

										.settings__field
											.indicator.indicator_width
											.indicator.indicator_height

										.settings__axis
											.axis__wrapper
												.axis__name
												input(type = 'text' value = '0' name="axis-height").axis__input
												.axis__control.axis__name_height
													a(href="#").axis__button.axis__button_heigt_up.MultiBtn
													a(href="#").axis__button.axis__button_heigt_down.MultiBtn

											.axis__wrapper
												.axis__name
												input(type = 'text' value = '0' name="axis-width").axis__input
												.axis__control.axis__name_width
													a(href="#").axis__button.axis__button_width_up.MultiBtn
													a(href="#").axis__button.axis__button_width_down.MultiBtn
							
						.settings__wrapper
							.settings__opacity
								.settings__title Прозрачность

								.slider
									div#slider-range-min
										input(type = 'text' value = '100' data-validation = 'opacity' name="opacity").opacity__input
						
						.btn-wrap
							input(type = "reset" value = "Сброс" name="reset").settings__btn.settings__btn_reset 
							input(type = "submit" value = "Скачать" name="download").settings__btn.settings__btn_download 
						//- для определения режима
						input(type='hidden' name="single-mod" id="modIndef" value = '1')
						
			aside
				ul.language
					li.language__item 
						a(href = '#').language__link РУС
					li.language__item 
						a(href = '#').language__link ENG

				a(href="").socials__link.socials__link_lk

				ul.socials
					li.socials__item
						a(href = 'http://www.facebook.com/sharer.php?u=http://watermarkgen.ru' target = '_about').socials__link.socials__link_fb
							span.hide facebook
					li.socials__item
						a(href = 'http://twitter.com/home?status=http://watermarkgen.ru' target = '_about').socials__link.socials__link_tw
							span.hide twitter
					li.socials__item
						a(href = 'http://vk.com/share.php?url=http://watermarkgen.ru' target = '_about').socials__link.socials__link_vk
							span.hide вконтакте
		include includes/footer.jade
