<!DOCTYPE html>
<html lang="ru-Ru">
  <head>
    <title>Генератор водяных знаков</title>
    <meta charset="UTF-8"/>
    <!--SEO-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- build:css css/vendor.min.css -->
    <!-- bower:css-->
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:css fonts/fonts.min.css -->
    <!-- endbuild -->
    <!-- build:css css/main.min.css-->
    <link rel="stylesheet" href="css/main.css"/>
    <!-- endbuild -->
    <!-- build:js js/vendor.js -->
    <!-- bower:js-->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js js/main.js -->
    <!-- endbuild -->
    
    
    <!-- build:js js/modernizr.min.js -->
    <!-- endbuild -->
    
  </head>
  <body>
    <div class="wrapper">
      <main class="main-content">
        <div class="result">
          <h1 class="result__title">Генератор водяных знаков</h1>
          <div class="result__window"></div>
        </div>
        <div class="settings">
          <h2 class="settings__title">Настройки</h2>
          <form action="" class="upload">
            <label class="upload__title">Исходное изображение
              <label for="upload-img" class="upload__wrapper">Загрузите изображение
                <input type="file" id="upload-img" name="img" size="30" class="upload__input upload__input_image hide"/>
              </label>
            </label>
            <label class="upload__title"> Водяной знак
              <label for="upload-water" class="upload__wrapper">Загрузите водяной знак
                <input type="file" id="upload-water" name="water-img" size="30" class="upload__input upload__input_water-image hide"/>
              </label>
            </label>
          </form>
          <form action="">
            <div class="settings__border-line"></div>
            <div class="settings__position">
              <div class="settings__headers">Положение</div>
              <div class="settings__position_field"></div>
              <div class="settings__position_axis">
                <div class="axis__wrapper"><span class="axis__name">X</span>
                  <input type="text" value="0" class="axis__input"/>
                  <button name="axis__x_up" class="axis_up"></button>
                  <button name="axis__x_down" class="axis_down"></button>
                </div>
                <div class="axis__wrapper"><span class="axis__name">Y</span>
                  <input type="text" value="0" class="axis__input"/>
                  <button name="axis__y_up" class="axis_up"></button>
                  <button name="axis__y_down" class="axis_down"></button>
                </div>
              </div>
            </div>
            <div class="settings__border-line"></div>
            <div class="settings__opasity">
              <div class="settings__headers">Прозрачность</div>
            </div>
            <div class="settings__border-line"></div>
            <button type="button" name="download_image" class="settings__download">Скачать</button>
            <button type="reset" name="reset_settings" class="settings__reset">Сброс</button>
          </form>
        </div>
      </main>
      <div class="language__wrapper">
        <div class="language">РУС</div>
        <div class="language">ENG</div>
      </div>
      <div class="socials-sharing">
        <div class="social-sharing__fb"></div>
        <div class="social-sharing__tw"></div>
        <div class="social-sharing__vk"></div>
      </div>
    </div>
    <footer class="page-footer">
      <p class="page-footer__text">&copy Это мой сайт, пожалуйста, не копируйте и не воруйте его</p>
    </footer>
  </body>
</html>