<!DOCTYPE html>
<html lang="ru-Ru">
  <head>
    <title>Генератор водяных знаков</title>
    <meta charset="UTF-8"/>
    <!--SEO-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- build:css css/vendor.min.css -->
    <!-- bower:css-->
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:css fonts/fonts.min.css -->
    <!-- endbuild -->
    <!-- build:css css/main.min.css-->
    <link rel="stylesheet" href="css/main.css"/>
    <!-- endbuild -->
    <!-- build:js js/vendor.js -->
    <!-- bower:js-->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js js/main.js -->
    <!-- endbuild -->
    
    
    <!-- build:js js/modernizr.min.js -->
    <!-- endbuild -->
    
  </head>
  <body>
    <div class="wrapper">
      <main class="main-content">
        <div class="result">
          <h1 class="result__title">Генератор водяных знаков</h1>
          <div class="result__window"></div>
        </div>
        <div class="setting-block">
          <h2 class="setting-block__title">Настройки</h2>
          <form action="" class="settings">
            <div class="settings__wrapper">
              <div class="settings__upload">
                <label class="settings__title">Исходное изображение
                  <label for="upload-img" class="upload__wrapper">Загрузите изображение
                    <input type="file" id="upload-img" name="img" size="30" class="upload__input upload__input_image hide"/>
                  </label>
                </label>
                <label class="settings__title"> Водяной знак
                  <label for="upload-water" class="upload__wrapper">Загрузите водяной знак
                    <input type="file" id="upload-water" name="water-img" size="30" class="upload__input upload__input_water-image hide"/>
                  </label>
                </label>
              </div>
            </div>
            <div class="settings__wrapper">
              <div class="settings__position">							
                <div class="settings__title">Положение</div>
                <div class="settings__field"></div>
                <div class="settings__axis">
                  <div class="axis__wrapper">
                    <div class="axis__name">X</div>
                    <input type="text" value="0" class="axis__input"/>
                  </div>
                  <div class="axis__wrapper">
                    <div class="axis__name">Y</div>
                    <input type="text" value="0" class="axis__input"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="settings__wrapper">
              <div class="settings__opacity">
                <div class="settings__title">Прозрачность</div>
              </div>
            </div>
            <div class="btn-wrap">
              <input type="reset" value="Сброс" class="settings__btn settings__btn_reset"/>
              <input type="button" value="Скачать" class="settings__btn settings__btn_download"/>
            </div>
          </form>
        </div>
      </main>
      <ul class="language">
        <li class="language__item">РУС<a href="#" class="language__link"><span class="language__name hide">русский</span></a></li>
        <li class="language__item">ENG<a href="#" class="language__link"><span class="language__name hide">английский</span></a></li>
      </ul>
      <ul class="socials">
        <li class="socials__item"><a href="#" class="socials__link socials__link_fb"><span class="socials__name hide">facebook</span></a></li>
        <li class="socials__item"><a href="#" class="socials__link socials__link_tw"><span class="socials__name hide">twitter</span></a></li>
        <li class="socials__item"><a href="#" class="socials__link socials__link_vk"><span class="socials__name hide">вконтакте</span></a></li>
      </ul>
    </div>
    <footer class="page-footer">
      <p class="page-footer__text">&copy Это мой сайт, пожалуйста, не копируйте и не воруйте его</p>
    </footer>
  </body>
</html>