doctype html
html.no-js(lang = 'ru-RU')
include includes/head
body
	.wrapper
		.window__container
			.result
				.result__header Генератор водяных знаков
				.result__window
			.settings
				.settings__main-header Настройки
				form(action="").settings__form
					.settings__inputs
						label.settings__headers Исходное изображение
						label.settings__inputs_container
							input(type = 'file' name = 'image' size = '30').settings__inputs_load-file.settings__inputs_image
						input(type = 'text' placeholder = 'Загрузите изображение').settings__inputs_input-style
						label.settings__headers Водяной знак
							input(type = 'file' name = 'image' size = '30').settings__inputs_load-file.settings__inputs_watermark
						input(type = 'text' placeholder = 'Загрузите водяной знак').settings__inputs_input-style
					.settings__border-line
					.settings__position
						.settings__headers Положение
						.settings__position_field
						.settings__position_axis
							.axis__wrapper
								span.axis__name X
								input(type = 'text' value = '0').axis__input
								button(name = 'axis__x_up').axis_up
								button(name = 'axis__x_down').axis_down
							.axis__wrapper
								span.axis__name Y
								input(type = 'text' value = '0').axis__input
								button(name = 'axis__y_up').axis_up
								button(name = 'axis__y_down').axis_down
					.settings__border-line
					.settings__opasity
						.settings__headers Прозрачность
					.settings__border-line
					button(type = 'button' name = 'download_image').settings__download-image Скачать
					button(type = 'reset' name = 'reset_settings').settings__reset Сброс
		.language__wrapper
			.language РУС
			.language ENG
		.socials-sharing
			.social-sharing__fb
			.social-sharing__tw
			.social-sharing__vk
	.footer &copy Это мой сайт, пожалуйста, не копируйте и не воруйте его
