footer.page-footer
    p.page-footer__text
        |&copy Это мой сайт, пожалуйста, не копируйте и не воруйте его
        
// build:js js/vendor.js 
// bower:js
script(src="bower_components/jquery/dist/jquery.min.js")
script(src="bower_components/jquery-ui/jquery-ui.js")
script(src="bower_components/jquery-file-upload/js/vendor/jquery.ui.widget.js")
script(src="bower_components/jquery-file-upload/js/jquery.iframe-transport.js")
script(src="bower_components/jquery-file-upload/js/jquery.fileupload.js")
// endbower 
// endbuild 

// build:js js/main.js 
script(src="js/main.js")
script(src="js/upload.js")
script(src="js/form.js")
script(src="js/position.js")
// endbuild 
