head
	title Генератор водяных знаков
	meta(charset = 'UTF-8')
	//SEO
	meta(http-equiv = 'X-UA-Compatible' content = 'IE=edge')
		
	link(rel='icon',  href="img/favicon.ico")

	// build:css css/vendor.min.css 
	// bower:css
	// endbower 
	// endbuild 


	// build:css fonts/fonts.min.css 
	// endbuild 
	

	// build:css css/main.min.css
	link(rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery-ui.css")
	link(rel="stylesheet", href="css/main.css")
	// endbuild 
	
	
	// build:js js/modernizr.min.js 
	// endbuild 
