head 
	title Генератор водяных знаков
	meta(charset = 'UTF-8')
	//SEO
	meta(http-equiv = 'X-UA-Compatible' content = 'IE=edge')
	//CSS
	link(rel = 'stylesheet' type = 'text/css' href = 'css/main.css')
	link(rel = 'stylesheet' type = 'text/css' href = 'bower/normalize.css/normalize.css')
	link(rel = "shortcut icon" type = "image/x-icon" href = "favicon.ico")
	link(rel = "icon" type = "image/x-icon" href = "favicon.ico")
	script(src = 'bower/jquery/dist/jquery.min.js')
	script(src="bower/modernizr/modernizr.js")
	script(src="bower/jquery-ui/jquery-ui.js")